{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["helm/**/*.yaml"],
            "options": {
                "singleQuote": false,
                "tabWidth": 2
            }
        }
    ]
}
